<div class="d-flex">
<div class="goalist col-8 bg-white">
<h1>今の目標</h1>
<% @goals.each do |goal| %>
  <div class="card">
    <div class="stream-item">
      <div class="content d-flex align-items-center">
        <div class="stream-item-header">
          <div class="time mx-2">
            ・<%= time_ago_in_words(goal.created_at) %>
          </div>
        </div>
        <div class="goal-text mx-2">
          <%= safe_join(goal.text.split("\n"), tag(:br)) %>
        </div>
        <div class="goaleditlink mx-2">
          <%= link_to  "目標詳細画面へ", edit_goal_path(goal.id), class:"btn btn-primary" %>
        </div>
        <div class="reachgoal?">
          <% if goal.reachgoal %>
            <%= "目標達成!" %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="col-4">
    <p>checkdaysの使い方</p>
    <p>カレンダー予定地</p>
</div>
</div