<div class="d-flex container h-100">
  <div class="col-12 goalist h-50 bg-white">
    <div class="d-flex align-items-center justify-content-center border">
      <h1 class="col-8 main-h1">目標一覧</h1>
      <%= link_to new_goal_path, class:"btn btn-border goal-btn" do %>
        <span class="btn-custom01-front">目標を決める！</span>
        <i class="fas fa-angle-right fa-position-right"></i>
      <% end %>
    </div>
    <div class="">
      <% @goals.each_with_index do |goal, index| %>
        <div class="d-flex align-items-center justify-content-center">
          <div class="col-12 d-flex justify-content-between align-items-center flex-wrap goal-div">
            <div class="shortcut col-md-8 col-sm-9 col-12">
              <% if goal.reachgoal %>
                <span class="text-danger border rounded border-danger p-2 col-3">目標達成!</span>
              <% else%>
                <span class="goal-index col-3"><%= "第#{index+1}目標"%></span>
              <% end %>
              <div class="shortcut">
                <span class=" goal-text col-12"><%= "・#{safe_join(goal.text.split("\n"), tag(:br))}"%></span>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-3 col-12 d-flex justify-content-sm-center justify-content-end align-items-end goal-details">
              <%= link_to  "目標詳細へ", goal_subgoals_path(goal.id), class:"btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
