<div class="vh-100">
  <div class="d-flex flex-column container bg-white h-75">
    <%= form_with model: @goal , class:"d-flex flex-column m-5" do |f|%>
      <div class="d-flex justify-content-center h-50">
        <%= f.text_field :text, placeholder: "今の目標は？",class:"col-10 border form-control-lg" %>
      </div>
      <div class="d-flex justify-content-center">
        <div class="d-flex my-4 col-10 justify-content-end">
          <%= f.submit "保存する", class:"btn btn-outline-primary"%>
        </div>
      </div>
    <% end %>
    <div>
      <p>いい目標の書き方について書く</p>
    </div>
  </div>
</div>
