<div class="h-100">
  <div class="d-flex flex-column container bg-white h-75">
    <%= form_with model: @goal , class:"d-flex flex-column m-5" do |f|%>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="d-flex justify-content-center col-10 h-50">
        <%= f.text_field :text, placeholder: "今の目標は？",class:"col-10 form-control form-control-lg" %>
      </div>
      <div class="d-flex justify-content-end col-10 my-3">
        <%= f.submit "保存する", class:"btn btn-outline-primary"%>
      </div>
      <div class="border border-3 rounded">
        <h1>いい目標の決め方</h1>
        <p>・いつまでに達成するかを入れよう</p>
        <p>・数字を使って具体的な目標にしよう（例：痩せたい　-> 5kg痩せる）</p>
      </div>
    <% end %>
  </div>
</div>
