.hozon-btn {
    width: 10%;
}

.field_with_errors {
    display: contents;
    // もしくは diplay: inline;
}

.goal-index {
    font-weight: bold;
    text-decoration: underline;
}

.goal-text {
    font-size: large;
}

.shortcut {
    overflow: hidden;
    white-space: nowrap;
    width: 820px;
    text-overflow: ellipsis;
}

.goal-div {
    padding: 12px;
}


@media screen and (min-width: 1024px) {
    .goal-text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .goal-text {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: x-large;
        font-weight: bold;
    }

    a.btn-border {
        border: 2px solid #000;
        border-radius: 0;
        background: red;
        padding: 0.5rem 1rem;
        -webkit-transform-style: preserve-3d;

        transform-style: preserve-3d;
    }
}

@media screen and (max-width: 767px) {
    .shortcut {
        display: flex;
        flex-wrap: wrap;
    }

    .goal-text {
        width: 300x;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

    a.btn-border {
        border: 2px solid #000;
        border-radius: 0;
        background: red;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        font-size: 0.5rem;
    }

    body {
        padding-bottom: 10px;
    }
}

//目標ボタン用
a.goal-btn {
    color: white;
}

a.btn-border:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 100%;

    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;

    background: white;
}

a.btn-border:hover {
    color: black;
    background: white;
}

a.btn-border:hover:before {
    background: black;
}
