// Place all the styles related to the Subgoals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.subgoals {
    #goal-title {
        font-size: 1rem;
        font-weight: bold;
    }

    #subgoal-title {
        font-size: 1rem;
        font-weight: bold;
    }

    #largeTitle {
        font-size: 2.5vw;
        font-weight: bold;
    }

    .subTitle {
        font-size: 2vw;
    }

    #todoTitle {
        font-size: 1.5vw;
    }

    #addTodo {
        font-size: 1vw;
    }


    @media screen and (max-width: 1024px) {
        .subgoal-title {
            font-size: 0.8rem;
        }

        #newsubgoalbtn {
            font-size: 0.8rem;
        }

        .btn {
            font-size: 0.8rem;
        }

        a.btn {
            font-size: 0.8rem;
        }

        h2 {
            font-size: 0.8rem;
        }

        .recordedTodo {
            font-size: 0.7rem;
        }

        .taskText {
            font-size: 0.7rem;
        }
    }

    @media screen and (max-width:767px) {
        .subgoal-title {
            font-size: 0.5rem;
        }

        #newsubgoalbtn {
            font-size: 0.5rem;
        }

        .btn {
            font-size: 0.5rem;

        }

        a.btn {
            font-size: 0.5rem;
        }

        h2 {
            font-size: 0.5rem;
        }

        #taskDone {
            transform: scale(1.0);
        }

        .recordedTodo {
            font-size: 0.7rem;
            height: 4rem;
        }



    }

    @media screen and (max-width:425px) {
        #subgoal-title {
            font-size: 0.8rem;
        }

        #newsubgoalbtn {
            font-size: 0.5rem;
        }

        .btn {
            font-size: 0.5rem;
            padding: 0.1rem 0.1rem;
        }

        a.btn {
            font-size: 0.5rem;
        }

        h2 {
            font-size: 0.5rem;
        }

        .form-control {
            font-size: x-small;
        }

        #addTodo {
            padding: 0px 0.6px;
        }

    }
}
